{% load i18n %}

<p>{% blocktrans %}<p>In these COVID-19 times, there is an urgent need to disseminate <b>credible COVID-19 related information in local languages.</b>
</p>
<p>
To address this issue, we have built a crowd-sourced translation platform, <b>Anuvad</b>. Here, people can translate resources to their own (or preferred) language. The platform is equipped with features such as Version Control system, Glossary, Translation Memory among others to ensure simple, manageable, and consistent translations.</p>
<p>Developed and maintained by <a href="https://civicdatalab.in"><b>CivicDataLab</b></a></p>
{% endblocktrans %}</p>

<!-- <p>{% blocktrans %}More information about Weblate can be found on {{ weblate_link }}.{% endblocktrans %}</p> -->

<!-- <p>{% blocktrans %}Weblate is libre software created by volunteers, and accepts donations.{% endblocktrans %}</p> -->
